.note-editor.note-frame {
	border: 1px solid #CCC;
}

.panel-dados {
	position: relative;
	border: 1px solid #ccc;
	min-height: 52px;
}

.panel-dados h4 {
	position: absolute;
	left: 10px;
	top: -20px;
	background-color: #fff;
	padding: 0px 5px 0px 5px;
	font-size: 16px;
	font-weight: bold;
}

.fluxoDemanda {
	padding: 8px 0px;
	margin-bottom: 0px;
	list-style: none;
	border-radius: 4px;
}

.fluxoDemanda>li {
	display: inline-block;
}

.fluxoDemanda>li+li:before {
	content: "\f0ec";
	padding: 0 5px;
	font-family: 'FontAwesome';
	color: #F90;
}

.fluxoDemanda>.active {
	color: #777;
}

.fluxoAssunto {
	padding: 8px 0px;
	margin-bottom: 0px;
	list-style: none;
	border-radius: 4px;
}

.fluxoAssunto>li {
	display: inline-block;
}

.fluxoAssunto>li+li:before {
	content: "\f061";
	padding: 0 5px;
	font-family: 'FontAwesome';
	color: #F90;
}

.fluxoAssunto>.active {
	color: #0039ba;
}

.tree>ul {
	padding-left: 0px;
}

.tree {
	min-height: 20px;
	margin-bottom: 20px;
}

.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}

.tree li::before, .tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}

.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}

.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 30px; /*25*/
	width: 25px
}

.tree li span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none
}

.tree li>span {
	cursor: pointer
}

.tree>ul>li::before, .tree>ul>li::after {
	border: 0
}

.tree li:last-child::before {
	height: 30px;
}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span
	{
	background: #eee;
	border: 1px solid #94a0b4;
	color: #000;
}

.select-tree {
	background-color: #0039ba !important;
	color: #fff !important;
	border-color: #0039ba !important;
}

.tree-item-found {
	font-style: italic;
	color: #0039ba;
}

.incluir_contrato {
	padding: 8px 0px;
	margin-bottom: 0px;
	list-style: none;
	border-radius: 4px;
}

.incluir_contrato>li {
	display: inline-block;
}

.incluir_contrato>li+li:after {
	content: "\ | ";
	padding: 0 5px;
	color: #ccc;
}

.incluir_contrato li:first-child:after {
	content: "\ | ";
	padding: 0 5px;
	color: #ccc;
}

.incluir_contrato li:last-child:after {
	content: "\ | ";
	padding: 0 5px;
	color: #fff;
}

.incluir_contrato a {
	text-decoration: none;
	color: #333;
	cursor: poiter;
}